.buttons-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
a.waves-effect {
  margin: 10px;
}
.container.border {
  background: #e3f2fd;
  padding: 7px 20px;
  box-shadow: 2px 2px 2px black;
}
a {
  padding: 10px 50px;
  border: 1px solid #69f0ae

}
a:hover {
  background: #69f0ae;
  color: white;
}
